<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>首页</title>
    <script src="/public/js/main.js"></script>
  </head>
  <body>
    <div>
      <a href="/post">留言</a>
      <ul>
        {{each comments}}
        <li>
          {{$value.name}} 说： {{$value.message}} 日期：{{$value.dateTime}}
        </li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
